@charset "UTF-8";
* {
  font-family: 'Quicksand', sans-serif;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper_landing {
  padding: 2% 5%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 10px 5px -4px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 10px 5px -4px rgba(0, 0, 0, 0.6);
}

.header .burger_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50%;
  cursor: pointer;
}

.header .burger_menu--item {
  font-size: 30px;
  margin: 50% auto 150%;
}

.header .burger_menu--item:hover {
  background-color: rgba(128, 128, 128, 0.5);
}

.header .navbar--list {
  display: none;
}

.header .header--h1 {
  min-width: 305px;
  margin: 0 0 0 20%;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main * {
  padding: 0;
  margin: 0;
}

.working_space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 63%;
  height: 760px;
}

.working_space--button_panel {
  position: relative;
  visibility: hidden;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5% auto 0;
  width: 500px;
}

.working_space .makeBW {
  position: absolute;
  right: 0;
}

.canvas_section {
  margin: 1% auto;
  background-color: rgba(128, 128, 128, 0.5);
}

.panel_section--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 15%;
  padding: 3% 0 0 3%;
  /* -webkit */
}

.panel_section--left .settings_panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  font-size: 1.5em;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.6);
  margin-bottom: 40%;
}

.panel_section--left .color_panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  font-size: 1.5em;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.6);
}

.panel_section--left .color_panel--label {
  width: 70%;
}

.panel_section--left input[type="color"] {
  overflow: hidden;
  width: 1rem;
  height: 1rem;
  border: 1px solid #d3d3d3;
  border-radius: 50%;
}

.panel_section--left input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

.panel_section--left input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

.panel_section--left i,
.panel_section--left input[type="color"] {
  margin-right: 10%;
  margin-left: 5%;
}

.panel_section--left .red {
  background-color: #ff0000;
}

.panel_section--left .blue {
  background-color: #00BCD4;
}

.move,
.transform {
  color: #d3d3d3;
}

.panel_section--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3% 3% 0 0;
  min-width: 15%;
}

.panel_section--right .size_panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  font-size: 1.5em;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.6);
  display: none;
}

.panel_section--right .square {
  width: 1rem;
  height: 1rem;
  margin-right: 10%;
  margin-left: 5%;
  border: solid 2px #000000;
}

label {
  cursor: pointer;
}

.settings_panel--item,
.color_panel--item,
.size_panel--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3% 0;
  cursor: pointer;
}

.settings_panel--item:hover,
.color_panel--item:hover,
.size_panel--item:hover {
  background-color: rgba(128, 128, 128, 0.5);
}

.active_tool {
  background-color: #d4d4d4;
}

.active_pencil {
  cursor: url("./images/pencil.svg"), auto;
}

.active_fill {
  cursor: url("./images/fill.svg"), auto;
}

.active_pipette {
  cursor: url("./images/pipette.svg"), auto;
}

.active_stroke {
  cursor: url("./images/stroke.svg"), auto;
}

.active_eraser {
  cursor: url("./images/eraser.svg"), auto;
}

.grayscale {
  -webkit-filter: grayscale(100%);
  /*для safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.authorize_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.authorize {
  background-color: #ffb6c1;
  -webkit-box-shadow: 10px 10px 18px 4px #9c9a9c;
          box-shadow: 10px 10px 18px 4px #9c9a9c;
  border: 1px dotted red;
  margin: 4% 1% !important;
  padding: 2% 4% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 50px;
  margin: 0 1%;
  font-size: 1rem;
  color: #000000;
  text-decoration: none;
}

.authorize:hover {
  border: solid 4px gray;
}

button {
  background-color: #ffb6c1;
  -webkit-box-shadow: 10px 10px 18px 4px #9c9a9c;
          box-shadow: 10px 10px 18px 4px #9c9a9c;
  border: 1px dotted red;
  margin: 4% 1% !important;
  padding: 2% 4% !important;
  padding: 5%;
}

.btn_apng {
  background-color: #ffb6c1;
  -webkit-box-shadow: 10px 10px 18px 4px #9c9a9c;
          box-shadow: 10px 10px 18px 4px #9c9a9c;
  border: 1px dotted red;
  margin: 4% 1% !important;
  padding: 2% 4% !important;
  text-decoration: none !important;
  color: black !important;
}

hr {
  margin: 5% 0;
}

h3 {
  text-decoration: underline;
  font-weight: 700;
  font-size: 1.5rem;
}

.authorize_github {
  background-size: contain;
  background-repeat: no-repeat;
}

.github_img,
.google_img {
  width: 50px;
}

.screenshots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.screen {
  width: 500px;
}

.screenshot {
  width: 200px;
}

.functionality_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.functionality_list li {
  margin: 5% 0;
}

.functionality_list li:before {
  content: '✓ ';
}

.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.author_name {
  margin: 0;
}

.author-photo {
  width: 20%;
}

.frame_section {
  margin: 3% 0 3% 2%;
}

.frame_section--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.frame_section--frame_canvas {
  width: 100px;
  height: 100px;
  margin: 1% auto;
  background-color: rgba(128, 128, 128, 0.5);
}

.add_new_frame_btn {
  width: 126px;
  margin-bottom: 5%;
  padding: 5%;
  border: dashed 0.5px rgba(128, 128, 128, 0.5);
  cursor: pointer;
}

.animation_player > canvas {
  margin-top: 40px;
  width: 150px;
  height: 150px;
  background-color: rgba(128, 128, 128, 0.5);
}
/*# sourceMappingURL=style.css.map */